<div class="court-box">
    <div class="court-header-img">
        <img src="./assets/img/muffins-gdba999709_1280.jpg" alt="">
    </div>


    <div class="court-content-box">

        <div *ngFor="let court of courts ; let i=index" class="court-content">
            <h2>{{court["name"]}}</h2>
            <h5>{{court["description"]}}</h5>
            <p>{{court["price"]}} €</p>
            <div class="add-btn">
                <button (click)="addCourtToBasket(i)"><img src="/assets/img/add-icon.svg" alt=""></button>
            </div>
        </div>
    </div>
</div>