<div class="basket-box">

    <div class="basket-content">
        <div class="basket-headline-box">
            <div class="basket-headline">
                <h2>Warenkorb</h2>
            </div>
            <div class="empty-basket" *ngIf="data.basketName.length <=0">
                <img src="./assets/img/shopping-basket-2-48.png">
                <h2>Fülle deinen Warenkorb</h2>
                <p>Füge einige leckere Gerichte aus der Speisekarte hinzu und bestelle dein Essen.</p>
            </div>

            <div class="basket-element-box" *ngFor="let basket of data.basketName ;let i=index">
                <div>{{data.basketName[i]}}</div>
                <div>{{data.basketDescription[i]}}</div>
                <div>{{data.basketPrice[i]}}</div>
            </div>
        </div>
    </div>
</div>