/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.main-box {
    width: 100%;
    display: flex;
}

.basket-main-box {
    width: 30%;
    min-width: 400px;
}

.court-main-box {
    width: 70%;
}